<?xml version="1.0" encoding="UTF-8"?>

<!--
 Copyright 2016 Robert Esler
 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
 -->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.urbanstew.cordova.pd"
    version="0.0.2-dev">
    
    <name>PdPlugin</name>
    
    <description>
        This plugin allows cordova users to use Pure Data patches in their apps
         for music and audio processing through the libpd package.
    </description>
    
    <repo>
        https://github.com/robertesler/cordova-pd.git
    </repo>
    
    <issue>https://github.com/robertesler/cordova-pd/issues</issue>
    
    <keywords>
        Pure Data, music, digital audio processing
    </keywords>
    
    <license>Apache 2.0</license>
    
    <author>Robert Esler</author>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
	<js-module src="www/cordova-pd.js" name="PdPlugin">
        	<clobbers target="Pd"/>
    	</js-module>    
    
    <!-- ios -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="PdPlugin">
                <param name="ios-package" value="PdPlugin"/>
		<param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/PdPlugin.h" />
        <source-file src="src/ios/PdPlugin.m" />
        <!-- Objective-C wrapper -->
        
        <header-file src="src/ios/objc/AudioHelpers.h" />
        <source-file src="src/ios/objc/AudioHelpers.m" />
        <header-file src="src/ios/objc/PdAudioController.h" />
        <source-file src="src/ios/objc/PdAudioController.m" />
        <header-file src="src/ios/objc/PdAudioUnit.h" />
        <source-file src="src/ios/objc/PdAudioUnit.m" />
        <header-file src="src/ios/objc/PdBase.h" />
        <source-file src="src/ios/objc/PdBase.m" />
        <header-file src="src/ios/objc/PdDispatcher.h" />
        <source-file src="src/ios/objc/PdDispatcher.m" />
        <header-file src="src/ios/objc/PdFile.h" />
        <source-file src="src/ios/objc/PdFile.m" />
        <header-file src="src/ios/objc/PdMidiDispatcher.h" />
        <source-file src="src/ios/objc/PdMidiDispatcher.m" />
        
        <!-- libpd.a: pure data and libpd_wrapper archive -->
        <source-file src="src/ios/libpd.a" framework="true" compiler-flags="-DPD -DUSEAPI_DUMMY -DLIBPD_EXTRA" />
        
    </platform>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PdPlugin">
                <param name="android-package" value="org.urbanstew.cordova.pd.PdPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/org/urbanstew/cordova/pd/PdPlugin.java"
        target-dir="src/org/urbanstew/cordova/pd"/>
        <resource-file src="libs/pd-core-1.0.1.aar" target="libs/pd-core-1.0.1.aar" />
        <resource-file src="www/cordova.pd" target="res/raw/cordova.pd" />
        <framework src="pd.gradle" custom="true" type="gradleReference" />
        
    </platform>
  
    
    
    
</plugin>
